<%- include("partials/header") %>

<section id="title">
  <div class="container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark ps-1 pe-1">
      <button class="navbar-toggler ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon"></div>
      </button>
      <a class="navbar-brand" href="/" id="nav-logo">Fitness Force</a>
      <div class="collapse navbar-collapse ms-auto" id="navbar">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item me-4"><a href="#cta" class="nav-link">Download</a></li>
          <li class="nav-item me-4"><a href="#pricing" class="nav-link">Pricing</a></li>
          <li class="nav-item me-5"><a href="#footer" class="nav-link">Contact</a></li>
          <button class="nav-item btn notch-bottom-right join-btn btn-md">Join Now</button>
        </ul>
      </div>
      
    </nav>

    <!-- Title -->
    
    <div class="row">
      <div id="heading-container" class="col-lg-6">
        <h1 id="heading">
          GET INTO YOUR<br>
          BEST <span class="stroke">SHAPE</span>
        </h1>

        <p class="heading-sub">
          First of all, the college lives within Silicon Valley, making Industry Knowledge much more accessible. In addition, I can enroll in the same courses as the universities at relatively low costs. Also, it provides you with more profound and interactive classes due to small class sizes. And I also like the location. Thus, I chose Foothill College.
        </p>

        <button type="button" class="btn button button-outline btn-lg notch-bottom-right me-3 mt-4">Get Started</button>
        <button type="button" class="btn button btn-lg notch-bottom-right mt-4 get-started-btn"><i class="fa-regular fa-circle-play"></i> Learn More</button>
        
      </div>
      <div id="title-image" class="col-lg-6">
        <div class="heart-rate vitals-box">
          <i class="fa-solid fa-heart-pulse fa-lg"></i>
          <!-- <br> -->
          <span class="small-grey-text">heart rate</span>
          <span class="value">123 bpm</span>
        </div>
        <div class="calories-burned vitals-box row">
          <div class="col-4 ps-0">
            <i class="fa-solid fa-fire-flame-curved"></i>
          </div>
          <!-- <br> -->
          <div class="col-8 ps-0">
            <span class="small-grey-text">Calories burned</span>
            <span class="value">312 kcal</span>
          </div>
        </div>
        <img src="images/title-image1.png" alt="Guy-Posing-In-Gym">
      </div>
    </div>
  </div>

</section>

<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="feature notch-bottom-right">
          <h4 class="feature-heading">Best Programs</h4>
          <p class="feature-desc">sieddg sdgvsdfvsdcv sdv sdvs dvsd vsdv sdvd vf</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature notch-bottom-right">
          <h4 class="feature-heading">Best Programs</h4>
          <p class="feature-desc">sieddg sdgvsdfvsdcv sdv sdvs dvsd vsdv sdvd vf</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature notch-bottom-right">
          <h4 class="feature-heading">Best Programs</h4>
          <p class="feature-desc">sieddg sdgvsdfvsdcv sdv sdvs dvsd vsdv sdvd vf</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature notch-bottom-right">
          <h4 class="feature-heading">Best Programs</h4>
          <p class="feature-desc">sieddg sdgvsdfvsdcv sdv sdvs dvsd vsdv sdvd vf</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") %>