<%- include("partials/header") %>

<section id="title">
  <div class="container-fluid">
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark ps-1 pe-1">
      <button class="navbar-toggler ms-2 me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon"></div>
      </button>
      <a class="navbar-brand" href="/" id="nav-logo">Fitness Force</a>
      <div class="collapse navbar-collapse m-auto" id="navbar">
        <ul class="navbar-nav m-auto">
          <li class="nav-item me-4"><a href="#cta" class="nav-link">Download</a></li>
          <li class="nav-item me-4"><a href="#pricing" class="nav-link">Pricing</a></li>
          <li class="nav-item"><a href="#footer" class="nav-link">Contact</a></li>
        </ul>
      </div>
      <button style="background-color: white;" class="btn notch-bottom-right btn-md">Join Now</button>
    </nav>

    <!-- Title -->
    
    <div class="row">
      <div id="heading-container" class="col-lg-6">
        <h1 id="heading">
          GET INTO YOUR<br>
          BEST <span class="stroke">SHAPE</span>
        </h1>

        <button type="button" class="btn button button-outline btn-lg notch-bottom-right me-3 mt-4">Get Started</button>
        <button type="button" class="btn button btn-lg notch-bottom-right mt-4 get-started-btn"><i class="fa-regular fa-circle-play"></i> Learn More</button>
        
      </div>
      <div id="title-image" class="col-lg-6">
        <!-- <img src="images/iphone6.png" alt="iphone-mockup"> -->
      </div>
    </div>
  </div>

</section>

<%- include("partials/footer") %>